* {font-family: 'Noto Sans KR', sans-serif; font-weight: 700;}
[class*=align-left] {text-align: left;}
[class*=align-right] {text-align: right;}
[class*=align-center] {text-align: center;}

p {
    padding: 0;
    margin: 0;
}
.btn {
    padding: 0;
    border: 0;
    background: none;
    outline: 0;
    .icon {
        display: block;
        width: 100%;
    }
}