@import 'variables';
@import 'mixin';

.search-form {
    position: relative;

    $inputHeight: 40px;
    $inputPadding: 16px;
    &__root {
        display: block;
        height: $inputHeight;
        background: #f8ede0;
        border-radius: 24px;
    }
    &__input {
        width: 100%;
        height: $inputHeight;
        padding: 0 $inputPadding;
        background: #f8ede0;
        border: 0;
        border-radius: 24px;
        box-sizing: border-box;
        font-weight: normal;
        outline: 0;
    }
    &__btn, .btn {
        position: absolute;
        top: 50%;
        right: $inputPadding;
        width: 24px;
        height: 24px;
        margin-top: -12px;
    }
}