@import 'variables';
@import 'mixin';

.link-lists {
    &__li {
        border-bottom: 1px solid #eee;
    }

    &__link {
        display:block;
        color:#434343;
        font-size: 14px;
        padding:10px 10px;
        text-decoration: none;
    }
}

.lists {
    padding:0;
    margin: 0;
    &__item {
        padding: 0;
        list-style: none;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        font-weight: normal;
        color: inherit;
    }
    &__thumb {
        display: block;
        .img {
            width: 100%;
        }
    }
}